<div class="problem-parent">
  <div class="row">
    <div class="col-lg-6 col-md-12 mb-2">
      <table>
        <thead>
          <tr>
            <th>Place</th>
            <th>Désignation</th>
            <th>Couleur</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>P1</td>
            <td>Rouge</td>
            <td><div class="node red"></div></td>
          </tr>
          <tr>
            <td>P2</td>
            <td>Vert</td>
            <td><div class="node green"></div></td>
          </tr>
          <tr>
            <td>P3</td>
            <td>Orange</td>
            <td><div class="node orange"></div></td>
          </tr>
          <tr>
            <td>P4</td>
            <td>Rouge 2</td>
            <td><div class="node red"></div></td>
          </tr>
          <tr>
            <td>P5</td>
            <td>Vert 2</td>
            <td><div class="node green"></div></td>
          </tr>
          <tr>
            <td>P6</td>
            <td>Orange 2</td>
            <td><div class="node orange"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6 col-md-12">
      <table>
        <thead>
          <tr>
            <th>Transition</th>
            <th>Désignation</th>
            <th>Couleur</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>T1</td>
            <td>Orange -> Rouge</td>
            <td><div class="link red"></div></td>
          </tr>
          <tr>
            <td>T2</td>
            <td>Orange -> Vert</td>
            <td><div class="link green"></div></td>
          </tr>
          <tr>
            <td>T3</td>
            <td>Orange 2 -> Rouge 2</td>
            <td><div class="link red"></div></td>
          </tr>
          <tr>
            <td>T4</td>
            <td>Orange 2 -> Vert 2</td>
            <td><div class="link green"></div></td>
          </tr>
          <tr>
            <td>T5</td>
            <td>Rouge -> Orange</td>
            <td><div class="link orange"></div></td>
          </tr>
          <tr>
            <td>T6</td>
            <td>Vert -> Orange</td>
            <td><div class="link orange"></div></td>
          </tr>
          <tr>
            <td>T7</td>
            <td>Rouge 2 -> Orange 2</td>
            <td><div class="link orange"></div></td>
          </tr>
          <tr>
            <td>T8</td>
            <td>Vert 2 -> Orange 2</td>
            <td><div class="link orange"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
